#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid midnightblue;
  border-radius: 5px;
  box-shadow: 0 0 5px #213547;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 16px;
  font-weight: 600;
  margin: 24px 0 4px;
}

input, select {
  padding: 8px;
  overflow: hidden;
}

.quote {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.number-warning {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

.loading-data, .exchange {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exchange {
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  form {
    flex-direction: row;
    justify-content: space-between;
  }

  label {
    display: flex;
    margin: 10px;
    width: 30%;
  }

}
